/*========== Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Ninjago";
    src: url("../fonts/ninjago.ttf");
}


/* ========== General Styles ==========*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
    overflow-x: hidden;
    overscroll-behavior-y: none; /* Prevent iOS pull-to-refresh */
    -webkit-overflow-scrolling: auto; /* Disable momentum scrolling on iOS */
    background: linear-gradient(to right, #590000 0%, #920000 50%, #590000 100%);
}


body {
    /* Viewport Units for Notched Devices  */
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);

    /* prevents double-tap zoom, etc. */
    touch-action: manipulation;
}









/* ========== Navigation Bar Styles ==========*/

nav {
    position: fixed;
    width: 100%;
    max-width: 2000px;
    background-color: rgba(146, 68, 68, 0.95); 
    z-index: 999;
    margin: 1rem auto;
    border-radius: 15px;
    font-family: "Ninjago";
    font-size: 1.5rem;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

nav li:first-child{
    margin: 1rem auto 0 1rem;
}

/* animation on hover */
nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
    bottom: 2px;
}

nav a:hover::after {
    width: calc(100% - 60px); 
} 



/*----- mobile version of navbar -----*/
.sidebar {
    z-index: 1000;
    position: fixed;
    top: 0; 
    right: 0;
    background-color: rgba(68, 2, 2, 0.7); 
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    display: none;
    gap: 2.2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20rem;
    height: 100%;
}

.open-sidebar {
    display: none;
}


/*responsive navigation bar*/
@media(max-width: 900px) {
    
    .hide-on-mobile {
    display: none;
    }

    .open-sidebar {
        display: block;
        margin-right: 1.5rem;
    }

    .sidebar {
        font-size: 1.25rem;
    }

    .logo {
        width: 10rem;
    }


    /*removing hover effects*/
    @media (pointer: coarse) {
        a:hover::after,
        button:hover,
        nav a:hover::after {
        content: none;
        background: none;
        width: 0;
        transition: none;
}
    }
}
