/* ========== Main Styles ==========*/

main {
    margin-top: 25vh;
}


/*----- HeroSection Styles -----*/
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ninjago-home {
    width: 33%;
}

.hero-section h3 {
    color: white; 
    width: 75%;
    margin-top: 1rem;
    font-family: "Poppins", Arial, sans-serif; 
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}






.wu-garmadon-card {
    width: 90%;
    height: 40rem;
    margin: 50vh auto;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    
    position: relative;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}


.wu {
    margin-right: 6rem;
}

.garmadon {
    margin-left: 5rem;
}

.deco {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.deco1 {
    margin-bottom: 20rem;
    width: 60%;
}


.deco2 {
    margin-top: 22rem;
    width: 60%;
    position: absolute;
    right: 0;
}



/*----- Adding shake effect on garmadon and wu -----*/
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(-2deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

.shaking {
    animation: shake 1.2s infinite linear;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    will-change: transform, box-shadow;
}









/* ========== Ninja Info Section ========== */

/* Positioning items */
.ninja-info-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
}

.jay, .cole {
    flex-direction: row-reverse;
}



/* styling items */
.poppins-font {
    font-family: "Poppins"
}



.info-section h3 {
    font-family: "Ninjago";
    font-size: 2.5rem;
    color: white;
    margin: auto 1rem;
}


.ninja-info-cta {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.ninja-info-cta button {
    width: 25rem;
    height: 120px;
    margin: 5rem 1rem auto 1rem;
    border: none;
    border-radius: 2rem;
    transition: transform 0.3s ease;
}


.ninja-info-cta button a {
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ninja-info-cta button:hover {
    transform: scale(1.05);
}

.ninja-info-cta button:active {
    transform: scale(1);
}




/*----- section specific styles -----*/
/* kai */
.info-section.kai {
    background-color: #500507;
}

.info-section.kai button {
    background-color: #F91E11;
}

/* jay */
.info-section.jay {
    background-color: #1270B0;
}

.info-section.jay button {
    background-color: #3EBBFD;
}



/* zane */
.info-section.zane {
    background-color: #E8E9E7;
}

.info-section.zane button {
    background-color: white;
}

.info-section.zane a, .info-section.zane h3 {
    color: black;
}


/* cole */
.info-section.cole {
    background-color: #1B1D1A;
}
.info-section.cole h3{
    margin-right: -2rem;
}

.info-section.cole button {
    background-color: #41403F;
    margin-right: -2rem;
}



/* lloyd */
.info-section.lloyd {
    background-color: #2b5118;
}

.info-section.lloyd button {
    background-color: #23a51d;
}











/* ========== Movie Section ========== */

.section.movie {
    width: 100%;
    height: 100%;
    margin-top: 50vh;
}


.movie h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: "Ninjago";
    font-weight: 350;
    letter-spacing: 2px;
    margin: 10vh 0;
}

.movie span {
    font-weight: bold;
}


.background.movie-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    background-color: black;
    width: 100%;
    height: 50%;
}

.background.movie-section img {
    width: 100%;
    margin-top: -2px;
}

.movie-info {
    text-align: center;
}

.movie-info p {
    color: #FACF00;
    font-size: 3rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 1.5rem auto;
}











/* ========== Media Queries ========== */

/*----- responsive hero section -----*/
@media(max-width: 1130px) {
    .hero-section h3 {
        font-size: 1.5rem;
    }


    .wu-garmadon-card {
        margin-top: 33vh;
        height: 30rem;
    }

    .deco2 {
        margin-top: 16rem;
    }

    .wu {
        margin-right: 0;
    }

    .garmadon {
        margin-left: 0;
    }

    .wu-garmadon {
        width: 20rem;
    }
}


@media(max-width: 650px) {
    .hero-section h3 {
        font-size: 1.2rem;
    }


    .wu-garmadon {
        width: 15rem;
    }

    .wu-garmadon-card {
        height: 17rem;
        border-radius: 25px;
    }

    .deco1 {
        margin-bottom: 12rem;
    }

    .deco2 {
        margin-top: 8rem;
    }
}


@media(max-width: 485px) {

    .sidebar {width: 100%} 


    .hero-section h3 {
        font-size: 1rem;
    }


    .wu-garmadon {
        width: 12rem;
    }

    .wu-garmadon-card {
        height: 15rem;
        border-radius: 25px;
        margin-top: 10vh;
    }

    .deco1 {
        margin-bottom: 12rem;
    }

    .deco2 {
        margin-top: 8rem;
    }
}


@media(max-width: 380px) {
    .hero-section h3 {
        font-size: 0.8rem;
    }


    .wu-garmadon {
        width: 10rem;
    }

    .wu-garmadon-card {
        height: 11rem;
        border-radius: 15px;
    }

    .deco1 {
        margin-bottom: 6rem;
    }

    .deco2 {
        margin-top: 4rem;
    }
}




/*----- responsive ninja-info section -----*/
@media(max-width: 1081px) {
    .ninja-info-cta h3 {
        font-size: 2.2rem;
    }
}

@media(max-width: 1011px) {
    .ninja-info-cta h3 {
        font-size: 2rem;
    }

    .ninja-info-cta button {
        width: 22rem;
        height: 100px;
    }
}

@media(max-width: 965px) {
    .ninja-info-cta h3 {
        font-size: 1.8rem;
    }   
}

@media(max-width: 919px) {
    .info-section img {
        transform: scale(0.9);
        transform-origin: center;
    }

    .ninja-info-cta button {
        width: 20rem;
        height: 85px;
        border-radius: 1.2rem;
    }

    .ninja-info-cta h3 {
        font-size: 1.5rem;
    }
}

@media(max-width: 802px) {
    .info-section img {
        transform: scale(0.7);
        transform-origin: center;
    }

    .ninja-info-cta button {
        width: 16rem;
        height: 75px;
    }

    .ninja-info-cta button a {
        font-size: 1.2rem;
    }

    .ninja-info-cta h3 {
        font-size: 1.2rem;
    }
}


@media(max-width: 733px) {
    .info-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .ninja-info-cta {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .ninja-info-cta h3 {
        margin-top: 0;
    }

    .ninja-info-cta button {
        margin-top: -5rem;
    }

    .ninja-info-cta.cole h3{
        margin: auto;
    }

    .ninja-info-cta.cole button {
        margin: -1.5rem auto auto auto;
    }
}