/*========== Fonts ==========*/
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Ninjago";
    src: url(/fonts/ninjago.ttf);
}

/* ========== General Styles ==========*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior-y: none; /* Prevent iOS pull-to-refresh */
    -webkit-overflow-scrolling: auto; /* Disable momentum scrolling on iOS */
    background: linear-gradient(to right, #590000 0%, #920000 50%, #590000 100%);
}


body {
    /* Viewport Units for Notched Devices  */
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);

    /* prevents double-tap zoom, etc. */
    touch-action: manipulation;
}









/* ========== Navigation Bar Styles ==========*/

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.5); 
    z-index: 999;
    margin: 1rem auto;
    border-radius: 15px;
    font-family: "Ninjago";
    font-size: 1.5rem;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
}

nav li:first-child{
    margin: 1rem auto 0 1rem;
}

/* animation on hover */
nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
    bottom: 2px;
}

nav a:hover::after {
    width: calc(100% - 60px); 
} 


/*----- mobile version of navbar -----*/
#sidebar {
    z-index: 1000;
    position: fixed;
    top: 0; 
    right: 0;
    background-color: rgba(68, 2, 2, 0.7); 
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    display: none;
    gap: 2.2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20rem;
    height: 100%;
}

#open-sidebar {
    display: none;
}














/* ========== Main Styles ==========*/

main {
    margin-top: 33vh;
}


/*----- HeroSection Styles -----*/
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section img {
    width: 33%;
    min-width: 25rem;
}

.hero-section h3 {
    color: white; 
    width: 75%;
    margin-top: 1rem;
    font-family: "Poppins", Arial, sans-serif; 
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
}



#wu_garmadon {
    width: 90%;
    height: 40rem;
    margin: 50vh auto;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    overflow-y: hidden;
    
    position: relative;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

#wu_garmadon img {
    max-width: 100%; 
    height: auto; 
}

#deco {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#deco1 {
    margin-bottom: 20rem;
}


#deco2 {
    margin-top: 17rem;
}















/* ========== Media Queries ========== */

@media(max-width: 1090px) {
    .hide-on-mobile {
    display: none;
    }


    #open-sidebar {
        display: block;
        margin-right: 1.5rem;
    }


    #sidebar {
        font-size: 1.25rem;
    }

    #logo {
        transform: scale(0.8);
    }
}



@media(max-width: 430px) {
    #sidebar {
        width: 100%;
    }

    nav {
        position: static;
    }
}

