/* ========== Hero section styles==========*/
main {
    width: 100vw;
    height: 100vh;
}


.section {
    height: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto -5rem auto;
}


.hero h1 {
    text-align: center;
    color: white;
    font-family: "Ninjago";
    font-size: clamp(1rem, 3vw, 2rem);
    letter-spacing: 1.2px;
    font-weight: bold;
}














/* ========== Questions section ==========*/
/* ----- scaling and positioning question boxes -----*/
.section.questions {
    margin-top: clamp(5vh, 10vh, 33vh);
    margin-bottom: clamp(5vh, 10vh, 33vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    font-family: "Poppins";
    color: rgb(235, 230, 230);
}

.question {
    width: clamp(80%, 66%, 50%);
    max-width: 800px;
    height: 50vh;
    background-color: #2B0808;
    border-radius: 50px;
}



/* ----- styling box contents ----- */
.question {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch; 
    padding: 2rem;
}

.question-text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.answers {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

















/* ========== Media Queries ==========*/

/* responsive heros section */
@media(max-width: 770px) {
    .hero img {
        margin: 20vh auto 0 auto;
    }
}